<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>


    </head>

    <body class="show">
      <nav>
        <%- include ('../partials/bikes_nav.ejs') %>
      </nav>


      <div class="container">
        <div class="showtop">



        <h2 class="showa">The <%=bike.title; %></h2>  <img src="<%=bike.img; %>" alt="">
          </div>
        <div class="showdiv">


        <h3>Manufacture:  <%=bike.manufacture; %></h3>
        <h3>Description:  <%=bike.description; %></h3>
        <h3>Comments:  <%=bike.comment; %></h3>
          <h3>Price:  $<%=bike.price; %></h3>


        <nav>
          <h3 class="showa">
          <a href="/bikes/<%=bike.id%>/edit">Edit this Bike</a></h3><br>
          <form class="" action="/bikes/<%=bike.id%>/buy?_method=PUT" method="POST">
            <h3 class="showa"><a href="/bikes">Back to bikes Index</a></h3><br>
        </nav>
          </div>
          </div>
    </body>
</html>
