<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/bikes_head.ejs') %>
  </head>
  <body class="show">
    <section class="flow">


      <%- include ('../partials/bikes_nav.ejs') %>
    </section>
    <div class="container">
        <%if (currentUser) {%>


      <%} else{%>

        <h1 class="text-center">Make An Account or Log in and get Rollin!!</h1>
        <%}%>


      <ul>

        <div class="row justify-content-around">

          <%if (currentUser) {%>


        <% for (let bike of bikes ) { %>
          <li>
            <a href="/bikes/<%=bike._id%>">
            <img src="<%= bike.img %>" alt="" class="index">
            <h3><%= bike.title %></h3>
            <form action="/bikes/<%=bike.id; %>?_method=DELETE" method="POST"">
                        <input type="submit"value="delete">
                      </form><br>


          </li>
       <% } %>

         <%} else{%>

           <%}%>
       </div>

      </ul>


    </div>

  </body>
</html
